<ion-view view-title="Before/After" >
   <ion-content class="has-header padding"  ng-controller="imgController">

   <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Description"></textarea>
      </label>

       <label class="item item-input">
        <input type="text" placeholder="Address">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Zip">
      </label>
  </div>
      <div class="list">
          <div class="input-label">
            Most Related Page
            <select class="item item-input item-select" id="asset_location_selector" name="page__id">
                <option class="asset_location_selector_child" value="">Please select one...  </option>
                <option class="asset_location_selector_parent"  value="3743">Basement Waterproofing</option>
                <option class="asset_location_selector_child" value="3780">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other </option>
            </select>
           
      </div>
    </div>

      <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
       <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;">
    </ion-scroll>
<br><br>
    <button class="button button-full button-energized" ng-click="addMedia()">
      Add image
    </button>
  
    
  
  
  
  </ion-content>
</ion-view>
