<ion-view view-title="Before/After" >
   <ion-content class="has-header padding"  ng-controller="imgController">

   <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Description"></textarea>
      </label>

       <label class="item item-input">
        <input type="text" placeholder="Address">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Zip">
      </label>
  </div>
       

  
    <button class="button button-full button-energized" ng-click="addMedia()">
      Add image
    </button>
  
        <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
       <img ng-repeat="image in images" ng-model="urlForImage" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;">
    </ion-scroll>
<br><br>
  
  
  
  </ion-content>
</ion-view>
