<ion-view view-title="Before/After">
  <ion-content>
 

   <div class="list">
     <label class="item item-input">
        <input type="text" placeholder="Title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Description"></textarea>
      </label>

       <label class="item item-input">
        <input type="text" placeholder="Address">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Zip">
      </label>

      <div class="list">
          <div class="input-label">
            Most Related Page
            <select class="item item-input item-select" id="asset_location_selector" name="page__id">
                <option class="asset_location_selector_child" value="">Please select one...  </option>
                <option class="asset_location_selector_parent"  value="3743">Basement Waterproofing</option>
                <option class="asset_location_selector_child" value="3780">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other </option>
            </select>
           
      </div>
    </div>
</div>


<button class="button button-block button-assertive">
  Add Photos
</button>


<button class="button button-block button-positive">
  Send
</button>



  </ion-content>
</ion-view>
