<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <div class="mdl-card mdl-shadow--2dp demo-card-wide">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">Welcome first.name</h2>
			  </div>
			 
			</div>


			<div class="mdl-card mdl-shadow--2dp demo-card-square">
			  <div class="mdl-card__title mdl-card--expand">
			    <h2 class="mdl-card__title-text ba">Snap It</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			    Aenan convallis.
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			   

				    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						   <a href="#/app/ba" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect white-btn">
			      Upload New
			    </a>
						</button>
			  </div>
			</div>


	 

		 
</div>

    </ion-list>
  </ion-content>
</ion-view>
