<ion-view  hide-nav-bar="true" view-title="">
  <ion-content ng-controller="PlayCtrl">

     <button class="toggle-btn ion-navicon" ng-click="toggleLeftSideMenu()">
        
      </button>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Welcome</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Welcome to the Team Basement Systems App. A lot has changed and we will be adding new features very soon. If you have any questions or need assitance just hit the button below.
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
         Questions?
        </a>
      </div>
     
    </div>



    <div class="cards" href="/#/app/ba">
        <i class="icon ion-ios-camera"></i>
            <hr class="divider">
            <h2 class="title">Snap It</h2>
          </div>

    <div class="cards" href="/#/app/newsletter">
    <i class="icon ion-ios-bookmarks-outline"></i>
            <hr class="divider">
            <h2 class="title">Newsletters</h2>
          </div>
     
     
  </ion-content>
</ion-view>

 