<ion-view view-title="Dashboard">

<ion-content class="dash-content padding-vertical">
<ion-list>
<div class="mdl-card mdl-shadow--2dp demo-card-wide main-card">
	<div class="mdl-card__title">
		<h2 class="mdl-card__title-text"></h2>
	</div>
</div>
 	
<div class="demo-card-wide mdl-card mdl-shadow--2dp main-card">
  <div class="mdl-card__supporting-text">
  	<h2>Snap It</h2>
     Get your photos from your jobs onto your site faster. Just tap it and snap it!
  </div>
  <div class="mdl-card__menu">
   <a href="/#/app/ba"> <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons">camera_alt</i>
    </button></a>
  </div>
</div>
	

	<div class="demo-card-wide mdl-card mdl-shadow--2dp main-card">
  <div class="mdl-card__supporting-text">
  	<h2>Newsletters</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
  <div class="mdl-card__menu">
     <a href="/#/app/newsletter"><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
     <i class="material-icons">folder_open</i>
    </button></a>
  </div>
</div>
	
	
</div>

</div>
</ion-list>
</ion-content>
</ion-view>