<ion-view  hide-nav-bar="true" view-title="" ng-controller="PostsCtrl">
  <ion-content>

     <button class="toggle-btn ion-navicon" ng-click="toggleLeftSideMenu()"></button>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title newsletter-hero">
        <h2 class="mdl-card__title-text">Newsletters</h2>
      </div>
    </div>

    <ion-list id="full-list" ng-show="myNews">
      <ion-item id="newslist"  ng-repeat="title in titles">
         <a ng-click="newNews($event.target.href);$event.preventDefault()" 
         href="https://api.teambasementsystems.com/newsletters/?id={{title.id}}">
          {{title.title}}
          </a><br>
		      {{title.date}}	
      </ion-item>
    </ion-list>

    <ion-list id="detail">
      <ion-item>   
       <span class="ion-arrow-left-a"></span>
         {{ newTitle }} <br>
         <div ng-bind-html="newBody"></div>
   </ion-item>

  </ion-list>



  </ion-content>

</ion-view>




