<ion-view view-title="Photo Gallery">
  <ion-content>
    <div class="list">
    	<a class="item item-thumbnail-left" href="#">
	      <img src="https://placekitten.com/g/160/160">
	      <h2>Title</h2>
	      <p>Summary</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="https://placekitten.com/g/160/160">
	      <h2>Title</h2>
	      <p>Summary</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="https://placekitten.com/g/160/160">
	      <h2>Title</h2>
	      <p>Summary</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="https://placekitten.com/g/160/160">
	      <h2>Title</h2>
	      <p>Summary</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="https://placekitten.com/g/160/160">
	      <h2>Title</h2>
	      <p>Summary</p>
	    </a>

	    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>

</div>

  </ion-content>
</ion-view>
