/* Dashboard Styles */
.mdl-card {
	width:auto;
  min-height: 100px;
}
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 225px;
    background: url('../img/hero.png') center;
    background-size: cover;
  }
  .demo-card-square.mdl-card {
      width: 48%;
      height: 245px;
      float: left;
      margin: 16px 3px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('../img/ba.png') top right 15% no-repeat #46B6AC;
        background-size: cover;
  }

.main-card {
  margin: 10px;
}
 

 
   .demo-card-event.mdl-card {
    width: 50%;
    height: 256px;
    background: #3E4EB8;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff !important;
  }

  .white-btn{
    color: white !important;
  }



/* hambugrer color */

[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar, 
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #2196F3;
    color:white;
}


.bar.bar-light .title {
     color:white;
}

.bar-light .button.button-clear {
       color:white;
}

/* button overider */


.login-form .mdl-button {
     height:50px;
}

/*login form */

.login-form {
  background: radial-gradient(#35B6F2 36%, #2BA8E3 74%, #0C79B4 119%);
}

.login-form .item {
  background-color: whitesmoke;
}

.dash-content {
      background:#E2E2E2;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised {
    color: #fff;
    background-color: #eec550;
} 


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}